.map-container {
  height: 90vh;
  bottom: 0;
}

h1 {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: rgba(35, 55, 75, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-family: monospace;
  padding: 6px 12px;
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 4px;
}

p {
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 20px;
}
